<div class="h1">
  <h1>Stupid Coaching</h1>
</div>

<div class="container">
  <div>
    <p>Ask your coach anything</p>
  </div>
  <div id="form">
    <form action="/answer">
      <input class="white-container" type="text" name="ask">
      <input class="button" type="submit" value="Ask!">
    </form>
  </div>
</div>
